@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
  color: #369;
  font-size: 250%;
}

.notification{
	height: 30px;
	margin-top: 20px;
	.alert{
		margin-left: auto;
		margin-right: auto;
		width: 380px;
		font-size: 1rem;
		line-height: 1.5px;
		font-weight: 700;
	}
}	
.container{
	margin-bottom: 40px;
	width: 390px;

	.btn{
		width: 100px;
		height: 100px;
		outline: none;
		cursor: pointer;
		&::hover, &::active, &::focus{
			box-shadow: none;
			-webkit-box-shadow: none;
		}
		&.hvr-scale:hover{
			transform: scale(1.1, 1.1);
		}
	}
	.col{
		margin-top: 20px;
	}
}

.btn-warning{
	width: 290px;
	border-radius: 0;
	height: 60px;
	font-weight: bold;
	cursor: pointer;
}

.default-cell-color{
	background-color: #C0C0C0;
}	
