<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Ready to play TicTacToe!

    <section class="notification">
      <div class="alert" [ngClass]="showalert.color" *ngIf="showalert.show" role="alert">
        {{showalert.msg}}
      </div>
    </section>  
    <section #parentElem class="container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell0 id="0"></button>
        </div>
        <div class="col">
          <button type="button" class="btn"  [ngClass]= "{'hvr-scale': disableHover}" #cell1 id="1"></button>
        </div>
        <div class="col">
          <button type="button" class="btn"  [ngClass]= "{'hvr-scale': disableHover}" #cell2 id="2"></button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell3 id="3"></button>
        </div>
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell4 id="4"></button>
        </div>
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell5 id="5"></button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell6 id="6"></button>
        </div>
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell7 id="7"></button>
        </div>
        <div class="col">
          <button type="button" class="btn" [ngClass]= "{'hvr-scale': disableHover}" #cell8 id="8"></button>
        </div>
      </div>
    </section>

    <button type="button" class="btn btn-warning" (click) = "resetGame()">RESET</button>
  </h1>
</div>